* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  /* height: 100vh; */
  font-family: "Heebo", sans-serif;
  background: rgba(243 30 30, 0.2);
}
a,
button {
  font-family: "Heebo", sans-serif;
}

/* nav */
nav {
  width: 100%;
  height: 10vh;
  z-index: 110;
  background: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.3);
}

.nav {
  width: 100%;
  height: 100%;
  position: relative;
}
.nav .logo-wrapper {
  display: inline-block;
}

.nav .logo-wrapper .logo {
  height: 100%;
  width: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo .logo-image {
  width: 100%;
  height: auto;
}
.nav .burger {
  display: none;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.burger div {
  height: 3px;
  margin: 5px;
  background: rgb(243, 30, 30);
  margin-left: auto;
  transition: all 0.4s ease;
}
.burger .line1 {
  width: 30px;
}
.burger .line2 {
  width: 24px;
}
.burger .line3 {
  width: 18px;
}
.toggle div {
  background: #fff;
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  width: 30px;
  transform: rotate(45deg) translate(-5px, -6px);
}
nav .nav .menu {
  display: inline-block;
  position: absolute;
  right: 0px;
  width: 50%;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.nav .menu > ul {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  color: rgb(172 21 21);
}
.nav .menu > ul li button {
  background: none;
  outline: none;
  border: none;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}
.nav .menu > ul li button:hover {
  color: rgb(243, 30, 30);
}
.nav .menu > ul li button:focus + .options {
  opacity: 1;
  pointer-events: all;
  transform: translateY(25px);
}
.nav .menu > ul li a {
  color: inherit;
  text-decoration: none;
}
/* .nav .menu > ul > li:hover, */
.nav .menu > ul > li a:hover {
  color: rgb(243, 30, 30);
}

.nav .menu ul li .options {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 20px -8px rgb(0, 0, 0, 0.55);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.nav .menu ul li .options ul li {
  list-style: none;
  padding: 0.5rem 1rem;
  color: rgb(243, 30, 30);
}

.nav .menu ul li .options ul li:hover,
.nav .menu ul li .options ul li a:hover {
  background: rgb(243, 30, 30);
  color: #fff;
}

/* mobile view */
@media only screen and (max-width: 850px) {
  .nav .burger {
    display: block;
    z-index: 100;
  }

<<<<<<< HEAD
  nav.show .dropdown {
    height: auto;
    opacity: 1;
    position: relative;
    pointer-events: all;
  }
  .dropdown {
    height: auto;
    width: 100%;
    padding: 1rem 0rem;
=======
  nav .nav .menu {
>>>>>>> mobile-nav
    display: block;
    position: fixed;
    background-color: rgb(243, 30, 30);
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    opacity: 0;
<<<<<<< HEAD
    transition: all 0.5s ease;
    /* position: absolute;
    pointer-events: none; */
=======
    pointer-events: none;
    transform: translate(0%);
    clip-path: circle(10px at 100% -10%);
    -webkit-clip-path: circle(10px at 100% -10%);
    transition: clip-path 1s ease-out, -webkit-clip-path 1s ease-out;
>>>>>>> mobile-nav
  }
  nav .nav .menu.toggle {
    opacity: 1;
    pointer-events: all;
    clip-path: circle(1500px at 100% -10%);
    -webkit-clip-path: circle(1500px at 100% -10%);
  }
  .nav .menu > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    color: #fff;
  }
  .nav .menu > ul li {
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
  }
  .nav .menu > ul > li a:hover,
  .nav .menu > ul > li button:hover,
  .nav .menu > ul > li button:focus {
    color: #000;
  }
}

/* hero */

.hero-section {
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: rgb(243, 30, 30);
  color: #fff;
  font-family: "Krona One", sans-serif;
  transition: all 0.5s ease-in;
}

.hero-section.active {
  background: #fff;
  color: rgb(243, 30, 30);
  height: 20vh;
}
.hero-section .hero-description h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section .hero-description img {
  width: 150px;
  height: auto;
}
.hero-section .hero-description,
.hero-section .main-hero-image {
  width: 50%;
  text-align: center;
}
.hero-section .main-hero-image img {
  width: 90%;
  object-fit: cover;
}

.hero-section h1 {
  font-size: 70px;
}
.hero-section p {
  font-size: 32px;
}

@media only screen and (max-width: 850px) {
  .hero-section {
    flex-direction: column;
    justify-content: space-around;
  }
  .hero-section .hero-description,
  .hero-section .main-hero-image {
    width: 80%;
  }
}
/* services */
.container .services {
  width: 100%;
  height: 90vh;
  padding-top: 10vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: rgb(255, 255, 255);
}
.container .services .panel {
  width: 100%;
  background: rgb(254, 254, 255);
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}
.container .services .panel .column {
  width: 25%;

  padding: 1rem;
}
.container .services .panel .card {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-align: center;
  padding: 1.5rem 0.5rem;
  transition: all 0.3s ease;
}

.container .services .panel .card:hover {
  box-shadow: 1px 9px 20px -4px rgba(0, 0, 0, 0.1);
}

.container .services .panel .card-image {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .services .panel .card-image img {
  width: 100px;
  object-fit: cover;
}
.container .services .panel .card-title {
  font-size: 26px;
}
.container .services .panel .card-button,
.container .services .panel .card-title {
  width: 100%;
  padding: 0.5rem;
}
.container .services .panel .card-button a {
  padding: 0.5rem 0.5rem;
  border: 2px solid rgb(243, 30, 30);
  color: rgb(243, 30, 30);
  background: #fff;
  border-radius: 5px;
  transition: all 0.3s;
}
.container .services .panel .card-button a:hover {
  color: rgb(255, 255, 255);
  background: rgb(243, 30, 30);
  border-radius: 5px;
}

@media only screen and (max-width: 850px) {
  .container .services .panel .column {
    width: 100%;

    padding: 1rem;
  }
}

/* animation */
.fade-in-left {
  animation: fade-in-left 1.5s ease-in-out forwards;
}
.fade-in-right {
  animation: fade-in-right 1.5s ease-in-out forwards;
}
.fade-in-up {
  animation: fade-in-up 1.5s ease-in-out forwards;
}

@keyframes fade-in-left {
  from {
    transform: translateX(-15%);

    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes fade-in-up {
  from {
    transform: translateY(15%);

    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fade-in-right {
  from {
    transform: translateX(15%);

    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
